<div class="homeimg">
    <img src="images/inicio.png" alt="Slogan">
</div>
<div class="columnas">
    <div class="saludo">
        <h2>Saludo</h2>
        <p>Criaturas de la noche, entes sombrios y amantes de lo paranormal...</p>
    </div>
    <div class="popular">
        <h3>Más popular</h3>
    </div>
    <div class="venta">
        <h3>Más vendido</h3>
    </div>
</div>